<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.advancementmapper">

	<insert id="saveAdvancement"
		parameterType="com.jobhunter.model.advancement.AdvancementDTO"
		useGeneratedKeys="true" keyProperty="advancementNo"
		keyColumn="advancementNo">
		insert into advancement
		(title, writer, refUser, content)
		values
		(#{title}, #{writer}, #{refUser}, #{content})
	</insert>

	<!-- 첨부파일 등록 -->
	<insert id="insertAdvancementFile"
		parameterType="com.jobhunter.model.advancement.AdvancementUpFileVODTO">
		INSERT INTO advancementUpfiles
		(originalFileName,
		newFileName, thumbFileName, fileType, ext, size, base64Image,
		refAdvancementNo, status)
		VALUES
		(#{originalFileName}, #{newFileName},
		#{thumbFileName},
		#{fileType}, #{ext}, #{size}, #{base64Image},
		#{refAdvancementNo}, 'NEW')
	</insert>

	<select id="getAdvancementByAdvancementNo" parameterType="int"
		resultType="com.jobhunter.model.advancement.AdvancementVO">
		SELECT a.*
		FROM advancement a
		WHERE a.advancementNo = #{advancementNo}
	</select>

	<select id="getAdvanceFileListByadvancementNo"
		parameterType="int"
		resultType="com.jobhunter.model.advancement.AdvancementUpFileVODTO">
		SELECT
		upfileNo,
		originalFileName,
		newFileName,
		thumbFileName,
		fileType,
		ext,
		size,
		base64Image,
		refAdvancementNo,
		status
		FROM
		advancementUpfiles
		WHERE refAdvancementNo = #{advancementNo}
	</select>

	<select id="getSearchResultRowCount"
		parameterType="com.jobhunter.model.page.PageRequestDTO"
		resultType="int">
		SELECT COUNT(*)
		FROM advancement
		WHERE ${searchType} LIKE
		CONCAT('%', #{searchWord}, '%')
	</select>

	<select id="getTotalCountRow" parameterType="int"
		resultType="int">
		SELECT COUNT(*) FROM advancement WHERE refUser = #{uid}
	</select>

	<select id="selectAdvancementListByPaging" parameterType="map"
		resultType="com.jobhunter.model.advancement.AdvancementVO">

		SELECT *
		FROM advancement
		WHERE refUser = #{uid}
		ORDER BY
		advancementNo DESC
		LIMIT #{startRowIndex}, #{rowCntPerPage}
	</select>


</mapper>