<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.advancementmapper">

	<insert id="saveAdvancement"
		parameterType="com.jobhunter.model.advancement.AdvancementDTO"
		useGeneratedKeys="true" keyProperty="advancementNo"
		keyColumn="advancementNo">
		insert into advancement
		(title, writer, refUser, content)
		values
		(#{title}, #{writer}, #{refUser}, #{content})
	</insert>

	<!-- 첨부파일 등록 -->
	<insert id="insertAdvancementFile"
		parameterType="com.jobhunter.model.advancement.AdvancementUpFileVODTO">
		INSERT INTO advancementUpfiles
		(originalFileName,
		newFileName, thumbFileName, fileType, ext, size, base64Image,
		refAdvancementNo, status)
		VALUES
		(#{originalFileName}, #{newFileName},
		#{thumbFileName},
		#{fileType}, #{ext}, #{size}, #{base64Image},
		#{refAdvancementNo}, 'NEW')
	</insert>

	<select id="getAdvancementByAdvancementNo">
		select a.* from advancement a
		where a.advancementNo =
		#{advancementNo}
	</select>

	<select id="getAdvanceFileListByadvancementNo"
		parameterType="int"
		resultType="com.jobhunter.model.advancement.AdvancementUpFileVODTO">
		SELECT
		upfileNo,
		originalFileName,
		newFileName,
		thumbFileName,
		fileType,
		ext,
		size,
		base64Image,
		refAdvancementNo,
		status
		FROM advancementUpfiles
		WHERE refAdvancementNo = #{advancementNo}
	</select>


</mapper>