<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.messagemapper">

	<insert id="saveMessage"
		parameterType="com.jobhunter.model.message.MessageDTO">
		INSERT INTO message
		(toWho, fromWho, toUserType, fromUserType, title, content)
		VALUES
		(#{toWho}, #{fromWho}, #{toUserType}, #{fromUserType}, #{title}, #{content})
	</insert>
	
	<select id="getAllMessages" resultType="com.jobhunter.model.message.MessageDTO">
		SELECT 
			messageNo, toWho, fromWho, toUserType, fromUserType, 
			title, content, isRead, regDate
		FROM 
			message
		ORDER BY 
			regDate DESC
	</select>
	
	<select id="getMessagesByUserId" parameterType="com.jobhunter.model.message.MessageDTO" 
		resultType="com.jobhunter.model.message.MessageDTO">
		SELECT 
			messageNo, toWho, fromWho, toUserType, fromUserType, 
			title, content, isRead, regDate
		FROM 
			message
		WHERE 
			toWho = #{toWho} AND toUserType = #{toUserType}
		ORDER BY 
			regDate DESC
	</select>
	
	<update id="updateMessageReadStatus" parameterType="com.jobhunter.model.message.MessageDTO">
		UPDATE 
			message
		SET 
			isRead = #{isRead}
		WHERE 
			messageNo = #{messageNo}
	</update>
	
	<update id="updateAllMessagesReadStatus" parameterType="string">
		UPDATE 
			message
		SET 
			isRead = #{isRead}
		WHERE 
			isRead = 'N'
	</update>
	
	<delete id="deleteMessage" parameterType="int">
		DELETE FROM 
			message
		WHERE 
			messageNo = #{messageNo}
	</delete>

	<select id="getUnreadCount" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM message
		WHERE isRead = 'N' AND toWho = #{uid}
	</select>

</mapper>