<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.paymentmapper">
	
	<insert id="savePaymentLog" parameterType="com.jobhunter.model.payment.PaymentLogDTO">
	insert into paymentLog
	(useruid, tid, amount, item_name)
	values
	(#{useruid}, #{tid}, #{amount}, #{item_name})
	</insert>

</mapper>