<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.prboardmapper">

	<insert id="savePRBoardByMento">
		insert into prBoard
		(useruid, title, writer, userId,
		introduce)
		values
		(#{useruid}, #{title}, #{writer}, #{userId},
		#{introduce})
	</insert>

	<select id="getTotalCountRow" resultType="int">
		select count(*) from
		prBoard
	</select>

	<select id="getPRBoardListByPaging"
		resultType="com.jobhunter.model.prboard.PRBoardVO">
		SELECT
		prBoardNo, useruid, title, writer, userId, introduce, postDate
		FROM
		prBoard
		<where>
			<if
				test="searchType != null and searchWord != null and searchWord != ''">
				<choose>
					<when test="searchType == 'title'">
						AND title LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType == 'writer'">
						AND writer LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType == 'userId'">
						AND userId LIKE CONCAT('%', #{searchWord}, '%')
					</when>
				</choose>
			</if>
		</where>
	<choose>
		<when test="sortOption != null">
			ORDER BY ${sortOption}
		</when>
		<otherwise>
			ORDER BY prBoardNo DESC
		</otherwise>
	</choose>
		LIMIT #{startRowIndex}, #{rowCntPerPage}
	</select>

	<select id="getPRBoardDetail" parameterType="int"
		resultType="com.jobhunter.model.prboard.PRBoardVO">
		SELECT
		prBoardNo, useruid, title, writer, userId, introduce,
		postDate
		FROM
		prBoard
		WHERE
		prBoardNo = #{prBoardNo}
	</select>

	<update id="updatePRBoard">
		UPDATE prBoard
		SET title = #{title},
		writer = #{writer},
		introduce = #{introduce}
		WHERE prBoardNo = #{prBoardNo}
	</update>

	<delete id="deletePRBoard">
		DELETE FROM prBoard
		WHERE prBoardNo = #{prBoardNo}
	</delete>
	
	<select id="selectPRBoardsByUserUidWithPaging" resultType="com.jobhunter.model.prboard.PRBoardVO">
	  SELECT 
	    prBoardNo,
	    useruid,
	    title,
	    writer,
	    userId,
	    introduce,
	    postDate
	  FROM prBoard
	  WHERE useruid = #{uid}
	  ORDER BY postDate DESC
	  LIMIT 5 OFFSET #{offset}
	</select>
	
	<select id="countPRBoardsByUserUid" resultType="int">
	  SELECT COUNT(*) FROM prBoard
	  WHERE useruid = #{uid}
	</select>
	

</mapper>