<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.recruitmentNoticeMapper">

	<insert id="insertRecruitmentnotice">
		insert into recruitmentnotice
		(title, workType,
		payType, pay, period, personalHistory, militaryService,
		detail,
		manager, miniTitle, dueDate, status, refCompany)
		values
		(#{title},
		#{workType}, #{payType}, #{pay}, #{period}, #{personalHistory},
		#{militaryService}, #{detail}, #{manager}, #{miniTitle}, #{dueDate,
		jdbcType=TIMESTAMP}, 'Y', #{refCompany})
	</insert>


	<insert id="insertApplicationWithRecruitmentnotice">
		insert into application
		(method, recruitmentNoticeUid)
		values
		(#{method}, #{recruitmentNoticeUid})
	</insert>

	<insert id="insertAdvantageWithRecruitmentnotice">
		insert into advantage
		(advantageType,
		recruitmentNoticeUid)
		values
		(#{advantageType},
		#{recruitmentNoticeUid})
	</insert>

	<select id="selectMostRecentRecruitmentnoticeByrefCompany">
		select * from recruitmentnotice where refCompany = #{companyUid} order by uid
		desc limit 1;
	</select>
</mapper>