<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testoracle.mapper.recruitmentnoticemapper">
	
	<insert id="insertRecruitmentnotice">
		insert into recruitmentnotice
		(title, workType, payType, pay, period, personalHistory, militaryService, detail, manager, miniTitle, status)
		values
		(#{title}, #{workType}, #{payType}, #{pay}, #{period}, #{personalHistory}, #{militaryService}, #{detail}, #{manager}, #{miniTitle}, Y);
	</insert>
	

</mapper>