<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.statusmapper">

	<insert id="saveDateStatus"
		parameterType="com.jobhunter.model.status.StatusVODTO">
		INSERT INTO status (
		statusDate,
		new_users,
		new_companies,
		new_recruitmentNoticeCnt,
		new_registration,
		new_reviewBoard
		)
		VALUES (
		#{statusDate},
		#{newUsers},
		#{newCompanies},
		#{newRecruitmentNoticeCnt},
		#{newRegistration},
		#{newReviewBoard}
		)

	</insert>

</mapper>