<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.statusmapper">

	<insert id="saveDateStatus"
		parameterType="com.jobhunter.model.status.StatusVODTO">
		INSERT INTO status (
		statusDate,
		new_users,
		new_companies,
		new_recruitmentNoticeCnt,
		new_registration,
		new_reviewBoard
		)
		VALUES (
		#{statusDate},
		#{newUsers},
		#{newCompanies},
		#{newRecruitmentNoticeCnt},
		#{newRegistration},
		#{newReviewBoard}
		)

	</insert>

    <select id="getDateStatusByYesterDay" resultType="com.jobhunter.model.status.StatusVODTO">
        SELECT * FROM status WHERE DATE(statusDate) = #{yesterday}
    </select>

    <select id="getTotalStatusByYesterDay" resultType="com.jobhunter.model.status.TotalStatusVODTO">
        SELECT * FROM total_status WHERE DATE(statusDate) = #{yesterday}
    </select>

    <insert id="insertTotalStatus" parameterType="com.jobhunter.model.status.TotalStatusVODTO">
        INSERT INTO total_status (
            statusDate,
            total_users,
            total_companies,
            total_recruitmentNoticeCnt,
            total_registration,
            total_reviewBoard
        ) VALUES (
            #{statusDate},
            #{totalUsers},
            #{totalCompanies},
            #{totalRecruitmentNoticeCnt},
            #{totalRegistration},
            #{totalReviewBoard}
        )
    </insert>

</mapper>