<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobhunter.mapper.usermapper">

	<update id="setVerificationFalse" parameterType="map">
		UPDATE users
		SET requiresVerification = 'N'
		WHERE
		<choose>
			<when test="type eq 'email'">
				email = #{value}
			</when>
			<when test="type eq 'mobile'">
				mobile = #{value}
			</when>
		</choose>
	</update>


	<select id="isAuthVerifi" resultType="String">
		select requiresVerification
		from `users` where userId = #{id}
	</select>

	<select id="loginUser"
		resultType="com.jobhunter.model.account.AccountVO">
		select * from `users` where userId = #{id}
		and password
		= sha1(md5(#{password}))
	</select>

	<select id="existsUserId" parameterType="String"
		resultType="boolean">
		SELECT EXISTS (
		SELECT 1 FROM users WHERE userId = #{id}
		)
	</select>

	<update id="increaseFailCount" parameterType="String">
		UPDATE users
		SET
		loginCnt = loginCnt + 1
		WHERE userId = #{id}
	</update>

	<select id="getFailCount" parameterType="String"
		resultType="int">
		SELECT loginCnt FROM users WHERE userId = #{id}
	</select>

	<update id="setRequiresVerification" parameterType="String">
		UPDATE users
		SET requiresVerification = 'Y'
		WHERE userId = #{id}
	</update>

	<update id="resetFailCount" parameterType="String">
		UPDATE users
		SET
		loginCnt = 0
		WHERE userId = #{id}
	</update>


</mapper>